/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1c1c1c, #500000); /* Dark red blend */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #121212;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;

}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1db954;
}

form input {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  background-color: #2a2a2a;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: background 0.3s;
}

form input:focus {
  background-color: #3a3a3a;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #1db954;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background-color: #169c47;
}

.signup-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.signup-text a {
  color: #1db954;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}